img {
    width: 200px;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Cookie', cursive;
}
h2{
    font-family: 'Anton', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Cookie', cursive;
}